*, html {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

main{
    overflow: auto;
}

body {
    background-color: #000000;
    margin-top: auto;
    padding: 0;
}


header.navbar-container {
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline:auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    filter: drop-shadow(10px);
}



header.navbar-container .logo {
    color: #b74b4b;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 900;
    transition: all 0.15s ease-in-out;

}

.logo:hover {
    transform: scale(1.8);
}

/* @media (width > 980px) {
    .logo{
        mix-blend-mode: difference;
    }
} */

header.navbar-container{
    position: sticky;
    top: 0;
    padding: 5px;
}

header.navbar-container .nav-list ul {
    display: flex;
    gap: 2rem 1rem;
    
}

.nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header.navbar-container .nav-list li {
    list-style: none;
    top: 0;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.08rem;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
    border-bottom: 3px solid transparent;
}

header.navbar-container .nav-list li .home-nav {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

.nav-list li .home {
    display: block;
}

nav.nav-list li:hover a   {
    font-weight: bold;
    transform: scale(1.1);
    border-bottom: 3px solid #b74b4b;
}

section{
    padding: 5rem 9% 5rem;
    min-height: 80vh;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 3rem;
    background-color: rgb(0, 0, 0);    
    margin-bottom: 13rem;
}

.home .home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

.home-content{
    padding-right: 5rem;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 1.95rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
}

.home-content p {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 2rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 40vw;
    border-radius:50% ;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.4rem;
    font-weight: 500;
    transform: scale(1.3);
    filter: drop-shadow(0 0 15px #b74b4b);
}

@media(max-width: 1200px){
    .home-img img{
        width: 47vw;
    }
    .navbar-container{
        justify-content: center;
        position: sticky;
        top: 0;
        padding: 5px;
    }
    .logo:hover{
        transform: scale(1.1);
    }
}

.social-media {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    /* border: 0.18rem solid #b74b4b; */
    border-radius: 50%;
    font-size: 23px;
    color: #b74b4b;
    text-decoration: none;
    top: 30%;
    transform: translateY(-50%);
    position: fixed;
    cursor: pointer;
    right: 2%;
}

.social-media a{
    text-align: start;
    text-decoration: none;
    display: block;
}

.social-media i{
    margin: 20px 0;
    transition: all .6s;
    text-decoration: none;
    color: #b74b4b;
}

.social-media i:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2) translateY(-3px);
    filter: drop-shadow(10px);
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    border: 0.18rem solid;
    border-radius: 4rem;
    font-size: 1rem;
    color: #b74b4b;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: #000000;
    box-shadow: 0 0 25px whitesmoke;
}

.typing-text{
    font-size: 25px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Web Developer";
    color: #b74b4b;
    text-shadow: 0 0 30px #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.content{
margin-top: 230px;
}

.card{
    filter: drop-shadow(15px #b74b4b);
    border-radius: 14px;
    background-color: #b74b4b;
    padding: 20px 20px 0px 0px;
    margin: 0px 60px 0px 60px ;
    height: 23.5rem;
    margin-bottom: 5rem;
}

.content #about {
    color: white;
    display: flex;
}

.content #about img {
    width: 33vw;
    margin-top: 20px;
}

.content #about .about-me {
    font-size: 38px;
    text-align: left;
    font-family: sans-serif;
    margin-bottom: 8px;
    text-shadow: 0 0 5px white;
}

.content #about .about-me:hover{
    text-decoration-line: underline;
}

.content #about .about-text{
    display: flex;
    line-height: 1.6;
padding-top: 5rem;
}

/* .content #about .about-text #p2{
    margin-left: 10px;
} */

@media(max-width: 1200px) {
    .content #about img{
        width: 42vw;
    }
    .content #about p{
        padding: 2px 0px;
    }
}

.content-education{
    color: white;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.container-edu{
    width: 100%;
    padding: 35px 10%;
}

.content-education .container-edu header.edu-title{
    font-family: Helvetica, sans-serif;
    color: #b74b4b;
    padding: 0px 0px 20px 30px;
}

.edu-text{
    padding: 0px 28.9px;
    border-left: 4px solid #bababa;
}

.education-text{
    position: relative;
    padding: 20px 20rem 2rem 0px;
    border: 2px solid #ffffff;
    background-color: #b74b4b;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    border-radius: 14px;
    box-shadow: 0px 3px 10px 0px #ffffff;
    display: flex;
}



.education-text h3 h4 p{
    text-align: right;
    display: inline;
}

.education-text h3{
    position: relative;
    display: inline;
}

.education-text h4{
    padding: 10px 0px 6px;
}

.education-text p{
    line-height: 1.2;
    font-size: 16px;
    display: inline;
}
.education-text img{
    width: 13vw;
    position: relative;
    margin-top: calc(0% - 20px);
    border-radius: 50%;
}



.education-text:hover{
    box-shadow: 0px 3px 26px 0px #b74b4b;
    border: 2px solid transparent;
    color: #b74b4b;
    background-color: #ffffff;
}

.education-text::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 23px);
    background-color: #b74b4b;
    top: 3.959rem;
    border: 2px solid white;
    box-shadow: #ffffff;
}

.skills-container{
    color: #ffffff;
}

.skills-title{
    text-align: center;
    font-size: 40px;
    /* padding-bottom: 2px; */
    padding-top: 20px;
    color: #ffffff;
}

.skills-title span{
    color: #b74b4b;
}

section .skills{
    display: flex;
    flex-wrap: wrap;
}

.skills-container{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 19rem;
}

.heading-skills{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}

.bar{
    font-size: 30px;
}

.technical-bars .bar{
    margin: 40px 0px;
}

.technical-bars .bar:first-child{
    margin-top: 0px;
}

.technical-bars .bar:last-child{
    margin-bottom: 0px;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line{
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 5px;
    background-color: #1a1111;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #b74b4b;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 40%;
}
.progress-line.css span{
    width: 25%;
}
.progress-line.javascript span{
    width: 5%;
}
.progress-line.react span{
    width: 0%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "40%";
}
.progress-line.css span::after{
    content: "25%";
}
.progress-line.javascript span::after{
    content: "5%";
}
.progress-line.react span::after{
    content: "0%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

@media(max-width: 768px){
    /* .education-text p{
        
    } */
    .education-text img{
        width: 20vw;
        padding: 10px 0px 5px;
        margin-top: 2px;
    }
    .education-text::before{
        top: calc(50% - 1px);
    }
}

@media(max-width: 1200px){
    .education-text img{
        width: 19vw;
        padding: 12px 0px 0px;
    }
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words {
    0%, 20%{
    content: "Web Developer";
    }
    21%, 40%{
        content: "UI/UX Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Back End Dev";
    }
    81%, 100%{
        content: "ITB Students";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 467px){
    .card{
    margin: 0px 60px 60px 60px ;
    height: 53.5rem;
    margin-bottom: 7rem;
    }
    .card h2.about-me{
        text-align: center;
        padding-top: 10rem;
        margin-left: 5rem;
    }
    .content #about img{
        width: 66vw;
        height: auto;
    }
    .content #about .about-text{
        flex-direction: column;
        padding: 0px 2rem;
        text-align: justify;
        gap: 20px;
    }
}

footer {
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
